//$gradient-background: linear-gradient(315deg,
//    rgba(164, 236, 248, 1) 3%,
//    rgba(79, 197, 194, 1) 38%,
//    rgba(66, 111, 160, 1) 68%,
//    rgba(30, 55, 116, 1) 85%,
//    rgba(43, 25, 103, 1) 98%);
//$gradient-background: linear-gradient(315deg,
//    rgba(24,19,89, 1) 2%,
//    rgba(1,55,125, 1) 25%,
//    rgba(255,255,255, 1) 45%,
//    rgba(187,187,187, 1) 70%,
//    rgba(110,97,164, 1) 98%);
//$gradient-background: linear-gradient(315deg,
//    rgba(42, 6, 6, 1) 2%,
//    rgba(56, 41, 96, 1) 25%,
//    rgba(193, 229, 231, 1) 45%,
//    rgba(19, 189, 133, 1) 70%,
//    rgba(55, 63, 49, 1) 98%);
$gradient-background: linear-gradient(315deg,
    rgba(24, 19, 89, 1) 2%,
    rgba(1, 55, 125, 1) 25%,
    rgba(50, 150, 200, 1) 45%,
    rgba(164, 236, 248, 1) 70%,
    rgba(66, 111, 160, 1) 98%);
$gradient-duration: 150s;
$wave-height: 30em;
$wave-width: 400%;
$wave1-duration: 30s;
$wave2-duration: 54s;
$wave3-duration: 60s;

.ui-wavebackground-container {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    &.ui-bg-01 {
        background: $gradient-background;
        animation: gradient $gradient-duration ease infinite;
        background-size: 400% 400%;
        background-attachment: fixed;
    }

    &.ui-bg-02 {
        background: url('/img/bg/ws25.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    &.ui-bg-03 {
        background: url('/img/bg/wp12118355.webp') no-repeat center center fixed;
        background-size: cover;
    }

    &.ui-bg-04 {
        background: url('/img/bg/wp12118355-light.webp') no-repeat center center fixed;
        background-size: cover;
    }

    .wave {
        background: rgb(255 255 255 / 25%);
        border-radius: 1000% 1000% 0 0;
        position: fixed;
        width: $wave-width;
        height: $wave-height;
        animation: wave $wave1-duration -3s linear infinite;
        transform: translate3d(0, 0, 0);
        opacity: 0.8;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .wave:nth-of-type(2) {
        bottom: -1.25em;
        animation: wave $wave2-duration linear reverse infinite;
        opacity: 0.8;
    }

    .wave:nth-of-type(3) {
        bottom: -2.5em;
        animation: wave $wave3-duration -1s reverse infinite;
        opacity: 0.9;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
