@using HomeBook.Frontend.Abstractions.Contracts
@using Microsoft.AspNetCore.Components

@inject NavigationManager NavigationManager
@inject ISetupService SetupService

<div class="ui-setup-step-container">
    @if (_activeSetupStep is not null)
    {
        <DynamicComponent Type="@_activeSetupStep.GetType()"/>
    }
</div>

<MudPaper Style="margin-top: 200px;">

    <MudButton OnClick="Callback">
        Setup Finished
    </MudButton>

    <MudButton OnClick="() => SetupService.SetStepStatusAsync(true, false)">
        Success
    </MudButton>

    <MudButton OnClick="() => SetupService.SetStepStatusAsync(false, true)">
        Error
    </MudButton>

</MudPaper>
