.hb-setup-container {

}

.hb-setup-card {
    background: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(10px);
    height: 70vh;
}

.ui-setup-stepper {

    .mud-stepper-actions {
        display: none;
    }
}
