@page "/"
@using HomeBook.Client

@inject BackendClient BackendClient

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        var blub = await BackendClient.Version.GetAsync();
        int i = 0;
    }
}
